
.game-area{
    position: relative;
    width: 400px;
    height: 400px;
    background-color: aquamarine;
    border: 2px solid #020202;
}


.snake{
    width: 20px;
    height: 20px;
    background-color: brown;
    position: absolute;
}

.food{
    width: 20px;
    height: 20px;
    background-color: rgb(226, 24, 182);
    position: absolute;
    border-radius: 50%;
    margin: 0 2px;
}


